<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="ContactsConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Contacts.mdb"
      providerName="System.Data.OleDb" />
    <add name="Windows2Wisej.Properties.Settings.ContactsConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\App_Data\Contacts.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>

</configuration>
